

<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="small" color="dark" 
                  (click)="onClickMenu()">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
      <ion-button color="Light" size="small" 
                  href="/">
        <ion-avatar>
          <img src="../../../assets/icon/iconFestivalMania.png">
        </ion-avatar>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<br/>
<br/>